#rooms {
	header {
		margin-bottom: 20px;
		@include container(90%);
		@include breakpoint($medium) { //at the medium breakpoint, 
			@include container; //include the full width container,
			@include pad(1,1); //pad this stuff by 1 column on each side.
		} // $medium breakpoint
	} //header
	
	.room {
		@include container(100%);
		@include pad(1,1);
		
		//flexbox doesn't work in all browsers. That's what the padding: 20px is for.
		
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		
		//	If the brakpoint is at least the small size (that width, or bigger),
		//	It's going to pad 7 units on the left and 1 unit on the right.
		
		@include breakpoint($small) {
			@include pad(7,1);
		} //$small breakpoint
		
		padding: 200px 0;

		
		.content {
			@include border-radius(10px);
			background: rgba($light, .8);
			padding: 20px;
			
			h1 {
				color: $red;
			} //h1
		} //.content
	} //.room
	
	#piccadilly {
		@include backImage('../images/hotel/rooms_piccadilly.jpg');
	} //piccadilly

	#cambridge {
		@include backImage('../images/hotel/rooms_cambridge.jpg');
	} //cambridge

	#westminster {
		@include backImage('../images/hotel/rooms_westminster.jpg');
	} //westminster

	#oxford {
		@include backImage('../images/hotel/rooms_oxford.jpg');
	} //oxford

	#victoria {
		@include backImage('../images/hotel/rooms_victoria.jpg');
	} //victoria

	#manchester {
		@include backImage('../images/hotel/rooms_manchester.jpg');
	} //manchester

	
} //rooms